body {
  background-color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.navbar-brand img {
  width: 80px;
  height: auto;
}


h1 {
  color: #39FF14;
  text-align: center;
  margin: 2rem auto 1.5rem;
  font-size: 2.2rem;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 5px #39FF14, 0 0 10px #00ff88;
  border-bottom: 3px solid #39FF14;
  padding-bottom: 0.5rem;
  position: relative;
}


/* Contenedor principal */
.container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center; /* centrar cards */
  margin: 50px auto;
  max-width: 1500px;
}

/* Cada card */
.card-product {
  width: 265px;
  border: 3px solid #39FF14;  
  border-radius: 15px; 
  box-shadow: 0 0 15px rgba(57, 255, 20, 0.7);
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #000000d2;
}

.card-product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(57, 255, 20, 0.9);
}

/* Imagen */
.card-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* TEXTO(titulo+precio+descripción) */
.card-content {
  flex-grow: 1; /* ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
}

/* Título */
.card-titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

#titulo-prod {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff; /* interior blanco */
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14;
  width: 500px; /* longitud de la línea */
  margin: 0 auto; /* centrar la línea */
  padding-top: 50px;
}

/* Precio */
.card-precio {
  font-size: 20px;
  color: #08bd71;
  margin-bottom: 5px;
}

/* Descripción */
.card-desc {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}

/*BOTÓN AGREGAR AL CARRITO*/
.btn-agregar {
    margin: 5px auto 5px;
    background-color: #39FF14;
    color: #000000;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
    border: 2px  solid #39FF14;
    border-radius: 6px;
    cursor: pointer;
}

.btn-agregar:hover {
    background-color: #39FF14;
    border-color: #39FF14;
    box-shadow: 0 0 10px #39FF14;
}

/*FILTRO DE CATEGORÍAS*/
.btn-neon {
  color: #fff;
  border: 2px solid #39FF14;
  padding: 0.2rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  text-shadow: 0 0 5px #39FF14;
}

.btn-neon:hover {
    box-shadow: 0 0 10px #39FF14;
    background-color: #000;
}

#navbar-filtro-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #1f1f1f00;
    width: 350px; /* longitud de la línea */
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;         
    z-index: 1000;
    border-radius: 100px;
}

#navbar-filtro-categorias .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
}

#navbar-filtro-categorias .dropdown {
    position: relative;
}

#navbar-filtro-categorias .dropdown-toggle {
    background-color: #000000d2;
    color: #39FF14;
    border: 2px solid #39FF14;
    border-radius: 6px;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

#navbar-filtro-categorias .dropdown-toggle:hover {
    box-shadow: 0 0 10px #00ffdd;
}

#navbar-filtro-categorias .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1f1f1f;
    border: 2px solid #39FF14;
    border-radius: 6px;
    min-width: 150px;
    z-index: 999;
    display: none; /* se mostrará al hacer click con JS */
    flex-direction: column;
    padding: 5px 0;
}

/* Estilo del botón del dropdown */
#btnDropdownCategoria {
    min-width: 200px;     
    text-align: center;
    white-space: nowrap;      /* evitar que el texto haga wrap */
    background-color: #000;
    color: #fff;
    border: 2px solid #39FF14;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-shadow: 0 0 5px #39FF14;
}

#btnDropdownCategoria:hover {
    box-shadow: 0 0 10px #39FF14;
}

#navbar-filtro-categorias .dropdown-menu li a {
    display: block;
    padding: 5px 15px;
    color: #39FF14;
    text-decoration: none;
    cursor: pointer;
}

#navbar-filtro-categorias .dropdown-menu li a:hover {
    background-color: #39FF14;
    color: #000;
    border-radius: 4px;
}
